### Access the Data in the Database using Connection object and Cursor object

In [1]:
#importing the mysql connector for connecting to DB
import mysql.connector

# creating connection object
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Uday@143n2",
  port = 3306,
  database="wrpracti_bookinfo",
    
)
# creating cursor object
myc = mydb.cursor()

# to run sql queries
myc.execute("SELECT * FROM regions")

# fetch all the result and storing in myresult
myresult = myc.fetchall()

# printing the data using for loop 
for x in myresult:
  print(x)

(Decimal('1'), 'Europe\r')
(Decimal('2'), 'Americas\r')
(Decimal('3'), 'Asia\r')
(Decimal('4'), 'Middle East and Africa\r')

### Access the Data in the Database using Connection object and Pandas library

In [19]:
#importing the mysql connector for connecting to DB and pandas
import mysql.connector
import pandas as pd

# creating connection object
mydb = mysql.connector.connect(
  host="localhost", 
  user="root",
  password="Uday@143n2",
  port = 3306,
  database="wrpracti_bookinfo",
    
)

# 'countires' is a table in 'wrpracti_bookinfo' database

# storing the data of 'countires' in the form of dataframe in df
df = pd.read_sql('SELECT * FROM countries', mydb)
df

   COUNTRY_ID              COUNTRY_NAME  REGION_ID
0          AR                 Argentina        2.0
1          AU                 Australia        3.0
2          BE                   Belgium        1.0
3          BR                    Brazil        2.0
4          CA                    Canada        2.0
5          CH               Switzerland        1.0
6          CN                     China        3.0
7          DE                   Germany        1.0
8          DK                   Denmark        1.0
9          EG                     Egypt        4.0
10         FR                    France        1.0
11         HK                  HongKong        3.0
12         IL                    Israel        4.0
13         IN                     India        3.0
14         IT                     Italy        1.0
15         JP                     Japan        3.0
16         KW                    Kuwait        4.0
17         MX                    Mexico        2.0
18         NG                   Nigeria        4.0
19         NL               Netherlands        1.0
20         SG                 Singapore        3.0
21         UK            United Kingdom        1.0
22         US  United States of America        2.0
23         ZM                    Zambia        4.0
24         ZW                  Zimbabwe        4.0

In [7]:
%sql select count(*) as Total rows \
from wrpracti_bookinfo.jobs

UsageError: Line magic function `%sql` not found.

In [8]:
import sqlite3

In [9]:
# install the ipython-sql libray
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: ipython>=1.0 in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: colorama in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: pygments in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: matplotlib-inline in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: backcall in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pickleshare in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\judaybhx\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\judaybhx\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\judaybhx\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\judaybhx\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=baa790219a7444cfda62c9e1f78179216ca4e8ac3b883a78c9df9ab3c501046b
  Stored in directory: c:\users\judaybhx\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

In [12]:
# load the sql module to iPython
%load_ext sql

In [36]:
%sql sqlite:///mydb

In [37]:
%%sql 

select * from countries

 * sqlite:///mydb
   sqlite:///wrpracti_bookinfo.db
(sqlite3.OperationalError) no such table: countries
[SQL: select * from countries]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [38]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\judaybhx\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\judaybhx\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [39]:
# %sql mssql+pyodbc://root:Uday@143n2@sql

(pyodbc.InterfaceError) ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')
(Background on this error at: https://sqlalche.me/e/14/rvf5)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///wrpracti_bookinfo.db', 'sqlite:///mydb'])

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

db_connection_str = 'mysql+pymysql://root:12345@127.0.0.1/sakila'
db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM teacher', con=db_connection)

print(df)